
.lightsaber {
    position: relative;
    top: -183px;
    left: -28px;
    -webkit-transform: rotate(160deg);
    transform: rotate(160deg);
    z-index: 1;
    
}

.lightsaber label {
	cursor: pointer;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 88;
	text-indent: -9999px;
	width: 12px;
	height: 50px;
	border: solid 2px #043c88;
	border-radius: 3px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	background: rgb(255, 255, 255); /* Old browsers */
}

.lightsaber .switch {
	background: #ff8a00;
	width: 5px;
	height: 10px;
	display: block;
	position: absolute;
	bottom: 25px;
	left: 13px;
	transition: left 200ms;
	-moz-transition: left 200ms;
	-webkit-transition: left 200ms;
	-o-transition: left 200ms;
	-ms-transition: left 200ms;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
    box-shadow: 0 0 14px 8px #ff8a00;
}

.lightsaber input[type=checkbox] {
	position: absolute;
	bottom: 0;
	left: 0;
	opacity: 0;
	-moz-opacity: 0;
	-webkit-opacity: 0;
	-o-opacity: 0;
	-ms-opacity: 0;
	z-index: 77;
    cursor: pointer;
    padding: 10px;
    height: 57px;
    width: 26px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.lightsaber .plasma {
	transition: height 300ms;
	-moz-transition: height 300ms;
	-webkit-transition: height 300ms;
	-o-transition: height 300ms;
	-ms-transition: height 300ms;
	border-radius: 12px 12px 0 0;
	position: absolute;
	bottom: 45px;
	left: 2px;
	width: 8px;
	display: block;
	filter: blur(1px);
	-moz-filter: blur(1px);
	-webkit-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	height: 0;
}


.lightsaber input[type=checkbox]:checked ~ div.plasma {
	height: 197px;
}

.lightsaber input[type=checkbox]:hover ~ div.switch {
	background: #ff8234;
	left: 12px;
}

.lightsaber input[type=checkbox]:checked ~ div.switch {
	background: #00ff04;
    box-shadow: 0 0 14px 8px #00ff04;
     -webkit-animation: glow 5s ease-in-out infinite;
    animation: glow 5s ease-in-out infinite;
}

.yoda {
	background-color:#81ff77; /* Old browsers */
background: -webkit-linear-gradient(left, rgb(2, 244, 20) 0%,rgb(2, 245, 19) 30%,rgb(0, 255, 42) 50%,rgb(254,254,254) 70%,rgb(2, 245, 19) 100%); /* IE6-9 */
	animation-name: yoda;
	-moz-animation-name: yoda;
	-webkit-animation-name: yoda;
	-o-animation-name: yoda;
	-ms-animation-name: yoda;
	animation-duration: 2s;
	-moz-animation-duration: 2s;
	-webkit-animation-duration: 2s;
	-o-animation-duration: 2s;
	-ms-animation-duration: 2s;
	animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
}


/* Animations */
@keyframes yoda {
	from { box-shadow: 0 0 10px #7EC855; }
	50% { box-shadow: 0 0 16px #7EC855; }
	to { box-shadow: 0 0 10px #7EC855; }
}
@-webkit-keyframes yoda {
	from { box-shadow: 0 0 10px #7EC855; }
	50% { box-shadow: 0 0 16px #7EC855; }
	to { box-shadow: 0 0 10px #7EC855; }
}