html{background-color: #fff}
body, html {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
    -webkit-font-smoothing: antialiased;
/*        height: 8378px;*/
    background-color: #fffж
            max-height: 100%;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
}



body.modal-visible #bodybody {
    font-family: 'Open Sans', sans-serif;
    opacity: .8;
    -ms-filter: blur(20px);
    -webkit-filter: blur(40px);
    filter: blur(40px);
}
body, button, input, select, textarea {
    font-family: 'Open Sans', sans-serif!important;
}

footer{
    bottom: 0px;
    width: 100%;
    z-index: 0;
    padding: 80px 20px!important;
}
nav{
    position: relative;
    z-index: 10;
}

#bodybody{
    background-color: #fff;
}
/*TAGS--------------------------------------------------------------------------------------------------------------------------*/
/*
img {
    -webkit-backface-visibility: hidden; 
    -webkit-transform: translateZ(0); 
    transform: translateZ(0);
}
*/

a {
    -webkit-transition: .3s ease;
    transition: .3s ease;
    color: #fff;
}

a:hover{
    color:#89c4ff;
}

span{font-size: 16px;}

::-webkit-input-placeholder {
    color:#b9b9bb;
}
input:focus::-webkit-input-placeholder{

       -webkit-transition: 0.9s ease;
       transition: 0.9s ease; 
}
input:focus::-webkit-input-placeholder { -webkit-transform: translateX(300px); opacity:0; color: #fff; transform: translateX(300px); }

input:active{
    -webkit-transform: scale(1.03);
    transform: scale(1.03)
}
/*NATIVE CLASSES----------------------------------------------------------------------------------------------------------------*/

.section{
    padding-top: 76px;
    padding-bottom: 76px;
    position: relative;
    z-index: 4;
    -webkit-transition: all .6s;
    transition: all .6s;
}

.columns{
    position: relative;
    z-index: 90;
}

.input{
    font-family: 'Open Sans', sans-serif;
    background-color: #f3f3f3;
    color: #000;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    font-size: 16px;
    border: none;
}

.input,::-webkit-input-placeholder{
    font-weight: 700;
    font-size: 16px;
}

input.is-large, .textarea.is-large {
    padding-bottom: 2px;
    font-size: 16px!important;
    box-shadow: inset 0px 2px 2px #eeeeee;
}

.input:active, .input:focus, .input.is-active, .textarea:active, .textarea:focus, .textarea.is-active {
background-color: #ffebd2;
     border: 2px solid #ffb053;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    color: #fff;
}

.content{
    color: #fff;
}

.content li + li {
    margin-top: 1.25em;
}

.content h6 {
    font-size: 15px;
}

a.nav-item {
    color: #1976d2;
    border-bottom: 3px solid transparent;
}
.nav-item a.is-tab.is-active, a.nav-item.is-tab.is-active {
border-bottom: 3px solid #1976d2;
    border-top: 3px solid transparent;
    color: #ffffff;
}
.nav-item a:hover, a.nav-item:hover {
    color: #fff;
}
.nav-item a.is-tab:hover, a.nav-item.is-tab:hover {
    border-bottom: 3px solid #ffffff;
}
.nav > .container {
    min-height: 80px;
}

/*NATIVE IDS--------------------------------------------------------------------------------------------------------------------*/


/*CUSTOM HELPERS----------------------------------------------------------------------------------------------------------------*/

.transition{
    -webkit-transition: 0.6s all ease-in-out!important;
    transition: 0.6s all ease-in-out!important;

}


.padding10{
    padding: 10px;
}

.def-padding{
        padding: 5px 7px 7px;
}

.noscroll {
    overflow-y: hidden;
}

.no-round-corners {
    border-radius: 0;
}

.flex-just-center {
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

h1,
.fs38 {
    font-size: 38px;
}

.fs30{
    font-size: 30px;
}

h2,
.fs24 {
    font-size: 24px;
}

h3,
.fs22 {
    font-size: 22px;
}

h4,
.fs20 {
    font-size: 20px;
}

h5,
.fs16 {
    font-size: 16px;
}

h6,
.fs15 {
    font-size: 15px;
}

.fs14 {
    font-size: 14px;
}

.fs13 {
    font-size: 13px;
}

.fw300 {
    font-weight: 300!important;
}
.fw400 {
    font-weight: 400!important;
}
.fw600 {
    font-weight: 600!important;
}
.fw700 {
    font-weight: 700!important;
}

.blackish-text,.black-text {
    color: #1b1b1b!important;
}

.gray-text {
    color: #b9b9bb!important;
}

.white-text {
    color: #fff!important;
}

.white-bg {
    background-color: #fff;
}

.light-blue-text{
    color: #89c4ff;
}

.blue-text {
    color: #1976d2;
}

.blue-bg {
    background-color: #1976d2;
}

.orange-text {
    color: #ffb053!important;
}

.orange-bg {
    background-color: #ffb053;
}


.dark-blue-text {
    color: #043c88;
}

.dark-blue-bg {
    background-color: #043c88;
}

.underiline {
    text-decoration: underline!important;
}

.margin-b20{
    margin-bottom: 20px!important;
}

.margin-b40{
    margin-bottom: 40px!important;
}

.margin-b90{
    margin-bottom: 90px!important;
}
.margin-b120{
    margin-bottom: 120px!important;
}

.padding-b40{
        padding-bottom: 40px!important;
}

.padding-t40{
        padding-top: 40px!important;
}

.padding-r60{
padding-right: 60px!important;
}

.justify-content-end{
        -webkit-box-pack: end!important;
        -ms-flex-pack: end!important;
        justify-content: flex-end!important;
}
/*CUSTOM CLASSES----------------------------------------------------------------------------------------------------------------*/
.scroll{
    padding: 30px 0px;
}

.sc5-text-button{
    position: absolute;
    bottom: 50px;
}


.no-action{
    pointer-events: none;
}

.button-custom {
    font-weight: 600;
    padding: 27px 31px;
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
    border: none!important;
    width: 100%;
}

.button-custom-sc5 {
    font-size: 16px;
    height: 40px;
    padding-left: 40px;
    padding-right: 40px;
    width: 50%;
}


.button-custom:hover {
    font-weight: 600;
    color: #fff;
    background-color: #73aafd;
    box-shadow: 0 15px 10px rgba(148, 173, 210, 0.74);
}

.button-custom-sc5:hover {
    box-shadow: 0 15px 10px rgb(28, 83, 136)!important;
}


.button-custom:active {
-webkit-transform: scale(1.1);
transform: scale(1.1)
}

.custom-form{
    padding: 40px 47px;
}



.Aligner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

nav .Aligner  {
    margin: auto;
}

.Aligner-item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.Aligner-item--top {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.Aligner-item--bottom {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.Aligner-item--fixed {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  max-width: 50%;
}

.flex-column {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
}

.flex-align-left{
        margin-right: auto;
}

.columns:not(:last-child) {
    margin-bottom: 47px;
}

.text-wrap:after { content: ''; clear: both; visibility: hidden; }
.text-wrap img { float: left; margin-right: 10px; }
.text-wrap p   { overflow: hidden; text-align: left!important; }



.orange-border-div{
    padding:60px 20px 60px 60px;
        border: 10px solid #ffb053;
    border-right: none;
}

#section5 .column {
        padding-top: 0;
    padding-bottom: 0;
}

#section4 h4,#section4 h5{
        line-height: 30px;
}

.soc-icon{
        border-bottom: 0!important;
    image-rendering: optimizeSpeed;             /*                     */
image-rendering: -moz-crisp-edges;          /* Firefox             */
image-rendering: -o-crisp-edges;            /* Opera               */
image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
image-rendering: optimize-contrast;         /* CSS3 Proposed       */
-ms-interpolation-mode: nearest-neighbor;  
    margin-right: 10px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.soc-icon:hover{
    -webkit-transform: scale3d(1.1.0);
    transform: scale(1.2);
}

.scale:before{
-webkit-transform: scale3d(1.1.0);
transform: scale3d(1.1.0)
}
.scale:after{
-webkit-transform: scale3d(1.1.0);
transform: scale3d(1.1.0);
      filter: blur(0);
  -webkit-filter: blur(0);
}

/*CUSTOM IDS--------------------------------------------------------------------------------------------------------------------*/

#section1 {}

#section2 {color: #1b1b1b;}

#section3 {color: #fff;}

#section4 {color: #1b1b1b;}

#section5 {background-color: #000e21;position: relative; z-index: 1}

#section6 {padding-top: 70px;    line-height: 22px;}

#section7 {}

#footer{}

#xwing{
        position: absolute;
    left: -278px;
    -webkit-animation: levitate 2s alternate ease-in-out infinite;
    animation: levitate 15s alternate ease-in-out infinite;
}
#dash-road{
    position: absolute;
    z-index: 1;
    left: 81px;
    top: 380px;
    width: 33%;
}

#sc5-bg{
    height: 100%;
    width: 107%;
    max-width: 130%;
}

#rock-top,#rock-left,#rock-right-1,#rock-right-2,#rock-bot-right{
    position: absolute;
    top: 230px;
    -webkit-animation: levitate 2s alternate ease-in-out infinite;
    animation: levitate 2s alternate ease-in-out infinite;
}
#rock-left{
    left: -50px;
    top: 475px;
    -webkit-animation-delay: 2s;
    animation-delay: 0.3s;
}

#rock-right-1{
    left: 250px;
    top: 375px;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

#rock-right-2{
    left: 320px;
    top: 375px;
}
#rock-bot-right{
    left: 340px;
    top: 520px;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

#jedi{
    position: relative;
    z-index: 2;
    pointer-events: none;
}

#sc3-icon-1-gsaber{
        -webkit-animation: 5s attack cubic-bezier(0,1.38,.83,.67) infinite;
    animation: 5s attack ease infinite;
    -webkit-animation-delay: .7s;
    animation-delay: .7s
}

#sc3-icon-1-rsaber{
    top: -276px;
    position: relative;
    left: -10px;
    -webkit-animation: 5s attack cubic-bezier(0,1.38,.83,.67) infinite;
    animation: 5s attack ease infinite;
}

#sc3-icon-4-man{
    -webkit-animation: levitateupdown 3s ease-in-out infinite;
    animation: levitateupdown 3s ease-in-out infinite;
}

#sc3-icon-4-rocks{
    -webkit-animation: levitateupdown 5s ease-in-out infinite;
    animation: levitateupdown 5s ease-in-out infinite;
    position: relative;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    bottom: 250px
}


#sc3-icon-3-ship{
    -webkit-animation: scale 5s ease-in-out infinite;
    animation: scale 5s ease-in-out infinite;
        position: relative;
    left: 103px;
    top: 24px;
    z-index: 1;
}

#sc3-icon-3-planet {
    position: relative;
    top: -109px;
    left: 146px;
}

#sc3-icon-2-stars{
    position: relative;
    z-index: 2;
    -webkit-animation: glow 5s ease-in-out infinite;
    animation: glow 5s ease-in-out infinite;
    top: 31px;
}
#sc3-icon-2{
    position: relative;
    top: -177px;
    left: 25px;
    z-index: 1;
    -webkit-animation: zoom 15s ease-in-out infinite;
    animation: zoom 15s ease-in-out infinite;
}
#sc3-icon-2-black{
    position: relative;
    top: -364px;
    z-index: 0;
    -webkit-animation: zoom 5s ease-in-out infinite;
    animation: zoom 5s ease-in-out infinite;
}

#sc5-path{    
    position: absolute;
left: 41%;
    top: 43%;
    transform: translateY(-50%) translateX(-50%) rotate(0deg);
    z-index: 2;
}
#sc5-void-wrap{
        transform: translateY(-50%) translateX(-50%) rotate(154deg);
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 114%;
}
#sc5-icon-1-black{
    position: absolute;
    left: 50%;
    top: 50%;
    animation: zoomsc5 20s ease-in-out infinite;
    z-index: 1;
    width: 120%;
}
#section5 .column{
    position: relative;
    z-index: 1;
    
}
.sc5-star{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%) scale(0);
    animation: star 1.4s linear infinite;
    z-index: 4;
}

#sc5-star1{
    left: 35%;
    top: 32%;
    animation-delay: 0.4s;
}
#sc5-star2{
left: 10%;
top: 51%;
    animation-delay: 0.6s;
}
#sc5-star3{
    left: 44%;
    top: 55%;
    animation-delay: 0.3s;
}
#sc5-star4{
left: 64%;
    top: 52%;
    animation-delay: 0.8s;
}
#sc5-star5{
    left: 56%;
    top: 24%;
    animation-delay: 0.2s;
}

#sc5-star6{
    left: 86%;
    top: 24%;
    animation-delay: 0.5s;
}
#sc5-star7{
    left: 76%;
    top: 38%;
    animation-delay: 0.7s;
}
#sc5-ship{
    position: absolute;
    transform: translateY(-50%) translateX(-50%) scale(1);
   left: 10%;
    top: 64%; 
    z-index: 5
}

#sc5-plan{
        position: absolute;
    transform: translateY(-50%) translateX(-50%);
    left: 29%;
    top: 38%;
    transition: 15ms ease;
}

.sc5-cert{
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    left: 49%;
    top: 30%;
    z-index: 11;
    perspective: 500px;
}

#sc5-cert-mult{
    position: absolute;
    z-index: 12;
    transition: 300ms ease-in;
    
}

#sc5-cert-mult:hover{
    transform: translate3d(0, 0, 50px);
}

#sc5-cert-mult:hover + #sc5-sert-overlay
{
   transform: translate3d(0, 0, 100px);
}
#sc5-sert-overlay{
    position: absolute;
    z-index: 9;
    transition: 300ms ease-in;
}
#sc5-cert-bg{
    position: relative;
    z-index: 8;
}


@keyframes star {
 
  0% { 
      transform: scale(0) rotate(0deg); }
    
    35% { 
      transform:  scale(0.3) rotate(180deg); }
    
  70% { 
      transform: scale(0) rotate(360deg); }
    
      100% { 
      transform:  scale(0) rotate(360deg); }
 
}






@-webkit-keyframes attack {
 
  from { 
      -webkit-transform: rotate(0deg); 
      transform: rotate(0deg); }
  to { 
      -webkit-transform: rotate(60deg); 
      transform: rotate(60deg); }
 
}


@keyframes attack {
from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
 
}


@-webkit-keyframes zoom  {
    0% {-webkit-transform: scale(0.8);transform: scale(0.8)}
    50% {-webkit-transform: scale(1.1);transform: scale(1.1)}
    100% {-webkit-transform: scale(0.8);transform: scale(0.8)}
}

@keyframes zoomsc5  {
    0% {transform: translateY(-50%) translateX(-50%) scale(0.8)}
    50% {transform: translateY(-50%) translateX(-50%) scale(1.1)}
    100% {transform: translateY(-50%) translateX(-50%) scale(0.8)}
}

@keyframes zoom  {
    0% {-webkit-transform: scale(0.8);transform: scale(0.8)}
    50% {-webkit-transform: scale(1.1);transform: scale(1.1)}
    100% {-webkit-transform: scale(0.8);transform: scale(0.8)}
}

@-webkit-keyframes show  {
  0% {opacity: 0}
    100% {opacity: 1}
}

@keyframes show  {
  0% {opacity: 0}
100% {opacity: 1}
}

@-webkit-keyframes glow  {
  0% {opacity: 0}
    20% {opacity: 0.7}
    50% {opacity: 0.3}
    80% {opacity: 1}
    100% {opacity: 0}
}
@keyframes glow  {
  0% {opacity: 0}
    20% {opacity: 0.7}
    50% {opacity: 0.3}
    80% {opacity: 1}
    100% {opacity: 0}
}

@-webkit-keyframes scale  {
  0% {
      -webkit-transform: scale(0);
      transform: scale(0) translate(0,0)
  }
    50% {
    -webkit-transform: scale(1);
    transform: scale(1) translate(-100px,-100px)
  }

        80% {
    -webkit-transform: scale(1);
    transform: scale(1) translate(-100px,-100px)
  }
    
    100% {
    -webkit-transform: scale(1);
    transform: scale(1) translate(-1500px,0px)
  }
}






@keyframes scale  {
  0% {
      -webkit-transform: scale(0);
      transform: scale(0) translate(0,0)
  }
    50% {
    -webkit-transform: scale(1);
    transform: scale(1) translate(-100px,-70px)
  }

        80% {
    -webkit-transform: scale(1);
    transform: scale(1) translate(-100px,-70px)
  }
    
    100% {
    -webkit-transform: scale(1);
    transform: scale(1) translate(-1500px,0px)
  }
}

@-webkit-keyframes levitateupdown  {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
    
    50% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
    
    100% {
    -webkit-transform: translate(0, 5px);
    transform: translate(0, 0px);
  }
}

@keyframes levitateupdown  {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
    
    50% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
    
    100% {
    -webkit-transform: translate(0, 5px);
    transform: translate(0, 0px);
  }
}




@-webkit-keyframes levitate {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0) rotate(0deg);
  }
    
    50% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px) rotate(5deg);
  }
    
    100% {
    -webkit-transform: translate(0, 5px);
    transform: translate(0, 10px) rotate(-5deg);
  }
}




@keyframes levitate {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0) rotate(0deg);
  }
    
    50% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px) rotate(5deg);
  }
    
    100% {
    -webkit-transform: translate(0, 5px);
    transform: translate(0, 10px) rotate(-5deg);
  }
}


/*MEDIA------------------------------------------------------------------------------------------------------*/
@media (min-width: 769px){
#section3-pdf {
    margin-left: 19.66667%;
}
}

@media screen and (min-width: 980px) {
#section5 .container {
    margin: 0 auto;
    max-width: 1090px;
}
}

@media (max-width: 1180px){

    .orange-text-main{
            font-size: 32px;
    }
}

@media (max-width: 980px){
#dash-road{
    left: 95px;
    height: 850px;
}
    .orange-text-main{
            font-size: 26px;
    }
            #sc5-bg{
display: none
}
    #section5{
        background-color: #1976d2;
        padding-top: 80px;
    }
    
        #section6 {
    padding-top: 76px;
}
}
@media (max-width: 980px){
    #section6 .has-text-right,#section6 .has-text-left{
        text-align: center;
    }
}
@media (max-width: 768px){
    .is-hh{
        text-align: center;
    }
    .is-hh-orange{
        background-color: #ffb053;
        padding: 5px 7px 7px;
    }
    .flex-align-left {
    margin-right: 0;
}
    #dash-road {
display: none
}
/*     #section3 h2,#section3 h5, #section4 h2, #section4 h5{*/
    h2,h5,h4,a,p{
        text-align: center
    }
    #section3-pdf {
        text-align: center;
}
    #section4 div{
        text-align: center
    }
    
.justify-content-end {
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
    .orange-border-div {
        padding: 60px 20px 60px 20px;
    border-right: 10px solid #ffb053;
        width: 100%;
        text-align: center;

}
    .arrow-orange{
        display: none;
    }

    
    #laptop{
    position: relative;
    left: 32px;
    }
    #section7 h1 {padding-right: 0px!important;}
    .sc7-p {height: 0px!important;}
        #section7{
    text-align: center;}
    .sc3-images{
        width: 300px;
    }
}

@media (max-width: 468px){
#laptop {
    position: relative;
    left: 0px;
}
        .sc3-images{
        width: 100%;
    }
}










/*MODAL------------------------------------------------------------------------------------------------------*/



/**
 * Modal starts here.
 */


.stars .container {
  position: absolute;
  animation: stars linear infinite;
}
.stars .container .star {
  animation: twinkle linear infinite;
  border-radius: 100%;
  transform: translateZ(0);
}
.stars .container:nth-child(0) {
  width: 3px;
  height: 3px;
  left: 29.5vw;
  animation-delay: -998.6666666666666s;
  animation-duration: 108s;
}
.stars .container:nth-child(0) .star {
  width: inherit;
  height: inherit;
  animation-delay: -48.1s;
  animation-duration: 16s;
  background: rgba(209,154,227,0.9);
}
.stars .container:nth-child(1) {
  width: 2px;
  height: 2px;
  left: 0vw;
  animation-delay: -997.8s;
  animation-duration: 196.3s;
}
.stars .container:nth-child(1) .star {
  width: inherit;
  height: inherit;
  animation-delay: -47.1s;
  animation-duration: 30.3s;
  background: rgba(245,201,248,0.8);
}
.stars .container:nth-child(2) {
  width: 2px;
  height: 2px;
  left: 67vw;
  animation-delay: -994.9s;
  animation-duration: 33.6s;
}
.stars .container:nth-child(2) .star {
  width: inherit;
  height: inherit;
  animation-delay: -41s;
  animation-duration: 46.7s;
  background: rgba(251,186,145,0.8);
}
.stars .container:nth-child(3) {
  width: 2px;
  height: 2px;
  left: 75.5vw;
  animation-delay: -991.8s;
  animation-duration: 86.7s;
}
.stars .container:nth-child(3) .star {
  width: inherit;
  height: inherit;
  animation-delay: -46.5s;
  animation-duration: 13.5s;
  background: #d79e90;
}
.stars .container:nth-child(4) {
  width: 2px;
  height: 2px;
  left: 71.5vw;
  animation-delay: -993.2s;
  animation-duration: 175.8s;
}
.stars .container:nth-child(4) .star {
  width: inherit;
  height: inherit;
  animation-delay: -46.1s;
  animation-duration: 42.9s;
  background: #d7afff;
}
.stars .container:nth-child(5) {
  width: 3px;
  height: 3px;
  left: 32.5vw;
  animation-delay: -994.6s;
  animation-duration: 122.06666666666666s;
}
.stars .container:nth-child(5) .star {
  width: inherit;
  height: inherit;
  animation-delay: -48.2s;
  animation-duration: 39.7s;
  background: #dde9c3;
}
.stars .container:nth-child(6) {
  width: 3px;
  height: 3px;
  left: 99.5vw;
  animation-delay: -995.1333333333333s;
  animation-duration: 32.800000000000004s;
}
.stars .container:nth-child(6) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42s;
  animation-duration: 26.9s;
  background: rgba(228,230,110,0.7);
}
.stars .container:nth-child(7) {
  width: 1px;
  height: 1px;
  left: 93.5vw;
  animation-delay: -993s;
  animation-duration: 297s;
}
.stars .container:nth-child(7) .star {
  width: inherit;
  height: inherit;
  animation-delay: -46.8s;
  animation-duration: 17.2s;
  background: rgba(253,168,102,0.8);
}
.stars .container:nth-child(8) {
  width: 2px;
  height: 2px;
  left: 34vw;
  animation-delay: -993.1s;
  animation-duration: 157s;
}
.stars .container:nth-child(8) .star {
  width: inherit;
  height: inherit;
  animation-delay: -43.7s;
  animation-duration: 29.9s;
  background: rgba(216,151,145,0.8);
}
.stars .container:nth-child(9) {
  width: 3px;
  height: 3px;
  left: 72.5vw;
  animation-delay: -995.8s;
  animation-duration: 49.666666666666664s;
}
.stars .container:nth-child(9) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.8s;
  animation-duration: 19.8s;
  background: rgba(230,220,235,0.9);
}
.stars .container:nth-child(10) {
  width: 1px;
  height: 1px;
  left: 4vw;
  animation-delay: -997.4s;
  animation-duration: 240s;
}
.stars .container:nth-child(10) .star {
  width: inherit;
  height: inherit;
  animation-delay: -47s;
  animation-duration: 27s;
  background: rgba(207,164,116,0.8);
}
.stars .container:nth-child(11) {
  width: 3px;
  height: 3px;
  left: 88.5vw;
  animation-delay: -999.6666666666666s;
  animation-duration: 46.199999999999996s;
}
.stars .container:nth-child(11) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49.1s;
  animation-duration: 45.5s;
  background: rgba(234,213,181,0.8);
}
.stars .container:nth-child(12) {
  width: 3px;
  height: 3px;
  left: 89vw;
  animation-delay: -997.4s;
  animation-duration: 62.86666666666667s;
}
.stars .container:nth-child(12) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45.7s;
  animation-duration: 35.3s;
  background: #dbf0fb;
}
.stars .container:nth-child(13) {
  width: 2px;
  height: 2px;
  left: 40.5vw;
  animation-delay: -993s;
  animation-duration: 181.6s;
}
.stars .container:nth-child(13) .star {
  width: inherit;
  height: inherit;
  animation-delay: -40.4s;
  animation-duration: 32s;
  background: #fafcc7;
}
.stars .container:nth-child(14) {
  width: 2px;
  height: 2px;
  left: 64vw;
  animation-delay: -991.3s;
  animation-duration: 53.2s;
}
.stars .container:nth-child(14) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49.4s;
  animation-duration: 10.4s;
  background: rgba(223,169,153,0.7);
}
.stars .container:nth-child(15) {
  width: 1px;
  height: 1px;
  left: 42vw;
  animation-delay: -985.6s;
  animation-duration: 133.2s;
}
.stars .container:nth-child(15) .star {
  width: inherit;
  height: inherit;
  animation-delay: -47.8s;
  animation-duration: 8.4s;
  background: rgba(253,185,151,0.7);
}
.stars .container:nth-child(16) {
  width: 1px;
  height: 1px;
  left: 69vw;
  animation-delay: -999s;
  animation-duration: 276.2s;
}
.stars .container:nth-child(16) .star {
  width: inherit;
  height: inherit;
  animation-delay: -46.2s;
  animation-duration: 13s;
  background: rgba(239,236,198,0.7);
}
.stars .container:nth-child(17) {
  width: 2px;
  height: 2px;
  left: 8.5vw;
  animation-delay: -997.3s;
  animation-duration: 147.9s;
}
.stars .container:nth-child(17) .star {
  width: inherit;
  height: inherit;
  animation-delay: -41.1s;
  animation-duration: 10.5s;
  background: #caf991;
}
.stars .container:nth-child(18) {
  width: 3px;
  height: 3px;
  left: 8.5vw;
  animation-delay: -999.8s;
  animation-duration: 49.6s;
}
.stars .container:nth-child(18) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.6s;
  animation-duration: 41.7s;
  background: rgba(220,193,207,0.7);
}
.stars .container:nth-child(19) {
  width: 2px;
  height: 2px;
  left: 79vw;
  animation-delay: -994s;
  animation-duration: 99.7s;
}
.stars .container:nth-child(19) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49s;
  animation-duration: 33.4s;
  background: rgba(216,187,107,0.8);
}
.stars .container:nth-child(20) {
  width: 3px;
  height: 3px;
  left: 37.5vw;
  animation-delay: -999s;
  animation-duration: 15.4s;
}
.stars .container:nth-child(20) .star {
  width: inherit;
  height: inherit;
  animation-delay: -48s;
  animation-duration: 44.2s;
  background: #f3cf91;
}
.stars .container:nth-child(21) {
  width: 2px;
  height: 2px;
  left: 40vw;
  animation-delay: -998.6s;
  animation-duration: 175.3s;
}
.stars .container:nth-child(21) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45.1s;
  animation-duration: 37.9s;
  background: rgba(245,233,220,0.9);
}
.stars .container:nth-child(22) {
  width: 2px;
  height: 2px;
  left: 47vw;
  animation-delay: -994.1s;
  animation-duration: 100.1s;
}
.stars .container:nth-child(22) .star {
  width: inherit;
  height: inherit;
  animation-delay: -48.7s;
  animation-duration: 21.3s;
  background: rgba(245,192,106,0.9);
}
.stars .container:nth-child(23) {
  width: 1px;
  height: 1px;
  left: 47vw;
  animation-delay: -980.6s;
  animation-duration: 205.2s;
}
.stars .container:nth-child(23) .star {
  width: inherit;
  height: inherit;
  animation-delay: -47.5s;
  animation-duration: 27.2s;
  background: rgba(247,229,170,0.9);
}
.stars .container:nth-child(24) {
  width: 2px;
  height: 2px;
  left: 44.5vw;
  animation-delay: -990.2s;
  animation-duration: 124.3s;
}
.stars .container:nth-child(24) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.4s;
  animation-duration: 23s;
  background: rgba(231,165,187,0.7);
}
.stars .container:nth-child(25) {
  width: 3px;
  height: 3px;
  left: 63.5vw;
  animation-delay: -994.4666666666667s;
  animation-duration: 14.866666666666667s;
}
.stars .container:nth-child(25) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45.5s;
  animation-duration: 29.4s;
  background: rgba(234,236,147,0.8);
}
.stars .container:nth-child(26) {
  width: 1px;
  height: 1px;
  left: 63.5vw;
  animation-delay: -992s;
  animation-duration: 287s;
}
.stars .container:nth-child(26) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45.4s;
  animation-duration: 14.9s;
  background: rgba(228,204,147,0.8);
}
.stars .container:nth-child(27) {
  width: 3px;
  height: 3px;
  left: 22.5vw;
  animation-delay: -998.5333333333333s;
  animation-duration: 89.46666666666665s;
}
.stars .container:nth-child(27) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.1s;
  animation-duration: 20.5s;
  background: rgba(231,158,180,0.8);
}
.stars .container:nth-child(28) {
  width: 1px;
  height: 1px;
  left: 54.5vw;
  animation-delay: -998.2s;
  animation-duration: 333.6s;
}
.stars .container:nth-child(28) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45.8s;
  animation-duration: 34.9s;
  background: #f2f88d;
}
.stars .container:nth-child(29) {
  width: 1px;
  height: 1px;
  left: 87.5vw;
  animation-delay: -995.6s;
  animation-duration: 50.2s;
}
.stars .container:nth-child(29) .star {
  width: inherit;
  height: inherit;
  animation-delay: -40.9s;
  animation-duration: 38.6s;
  background: rgba(250,193,156,0.7);
}
.stars .container:nth-child(30) {
  width: 3px;
  height: 3px;
  left: 66vw;
  animation-delay: -997.4666666666667s;
  animation-duration: 124.73333333333333s;
}
.stars .container:nth-child(30) .star {
  width: inherit;
  height: inherit;
  animation-delay: -47.6s;
  animation-duration: 17s;
  background: rgba(234,236,150,0.7);
}
.stars .container:nth-child(31) {
  width: 2px;
  height: 2px;
  left: 24.5vw;
  animation-delay: -999.1s;
  animation-duration: 81.9s;
}
.stars .container:nth-child(31) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.6s;
  animation-duration: 29.6s;
  background: rgba(241,223,248,0.8);
}
.stars .container:nth-child(32) {
  width: 3px;
  height: 3px;
  left: 94.5vw;
  animation-delay: -997.4666666666667s;
  animation-duration: 82.26666666666667s;
}
.stars .container:nth-child(32) .star {
  width: inherit;
  height: inherit;
  animation-delay: -43.1s;
  animation-duration: 39.6s;
  background: rgba(255,190,249,0.8);
}
.stars .container:nth-child(33) {
  width: 2px;
  height: 2px;
  left: 65vw;
  animation-delay: -993.8s;
  animation-duration: 147.8s;
}
.stars .container:nth-child(33) .star {
  width: inherit;
  height: inherit;
  animation-delay: -48.9s;
  animation-duration: 36.5s;
  background: #e7dec1;
}
.stars .container:nth-child(34) {
  width: 1px;
  height: 1px;
  left: 34vw;
  animation-delay: -988.4s;
  animation-duration: 316s;
}
.stars .container:nth-child(34) .star {
  width: inherit;
  height: inherit;
  animation-delay: -43.8s;
  animation-duration: 20s;
  background: #fbb4c8;
}
.stars .container:nth-child(35) {
  width: 1px;
  height: 1px;
  left: 17.5vw;
  animation-delay: -996.8s;
  animation-duration: 326.4s;
}
.stars .container:nth-child(35) .star {
  width: inherit;
  height: inherit;
  animation-delay: -43.3s;
  animation-duration: 37.2s;
  background: rgba(200,188,209,0.8);
}
.stars .container:nth-child(36) {
  width: 1px;
  height: 1px;
  left: 39vw;
  animation-delay: -993.2s;
  animation-duration: 221.4s;
}
.stars .container:nth-child(36) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45.6s;
  animation-duration: 10.9s;
  background: rgba(250,190,215,0.9);
}
.stars .container:nth-child(37) {
  width: 3px;
  height: 3px;
  left: 14.5vw;
  animation-delay: -999.9333333333333s;
  animation-duration: 53.6s;
}
.stars .container:nth-child(37) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.6s;
  animation-duration: 31.1s;
  background: #f0f188;
}
.stars .container:nth-child(38) {
  width: 3px;
  height: 3px;
  left: 89.5vw;
  animation-delay: -995.3333333333334s;
  animation-duration: 122.26666666666667s;
}
.stars .container:nth-child(38) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.9s;
  animation-duration: 30.7s;
  background: #e6e56b;
}
.stars .container:nth-child(39) {
  width: 3px;
  height: 3px;
  left: 41vw;
  animation-delay: -998.4s;
  animation-duration: 114.60000000000001s;
}
.stars .container:nth-child(39) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.5s;
  animation-duration: 5.8s;
  background: #fbe1ca;
}
.stars .container:nth-child(40) {
  width: 3px;
  height: 3px;
  left: 2vw;
  animation-delay: -994s;
  animation-duration: 60.46666666666667s;
}
.stars .container:nth-child(40) .star {
  width: inherit;
  height: inherit;
  animation-delay: -40.8s;
  animation-duration: 10.6s;
  background: rgba(241,199,233,0.7);
}
.stars .container:nth-child(41) {
  width: 1px;
  height: 1px;
  left: 89vw;
  animation-delay: -990.2s;
  animation-duration: 180.2s;
}
.stars .container:nth-child(41) .star {
  width: inherit;
  height: inherit;
  animation-delay: -48.8s;
  animation-duration: 11.5s;
  background: rgba(236,211,166,0.8);
}
.stars .container:nth-child(42) {
  width: 3px;
  height: 3px;
  left: 42vw;
  animation-delay: -993.3333333333334s;
  animation-duration: 55.53333333333333s;
}
.stars .container:nth-child(42) .star {
  width: inherit;
  height: inherit;
  animation-delay: -48.8s;
  animation-duration: 23.3s;
  background: #ead6b5;
}
.stars .container:nth-child(43) {
  width: 3px;
  height: 3px;
  left: 22vw;
  animation-delay: -996.4666666666667s;
  animation-duration: 58.4s;
}
.stars .container:nth-child(43) .star {
  width: inherit;
  height: inherit;
  animation-delay: -46.9s;
  animation-duration: 18.1s;
  background: rgba(202,245,141,0.7);
}
.stars .container:nth-child(44) {
  width: 3px;
  height: 3px;
  left: 97vw;
  animation-delay: -997.4666666666667s;
  animation-duration: 20.8s;
}
.stars .container:nth-child(44) .star {
  width: inherit;
  height: inherit;
  animation-delay: -48.8s;
  animation-duration: 50s;
  background: #f0d1b4;
}
.stars .container:nth-child(45) {
  width: 3px;
  height: 3px;
  left: 55.5vw;
  animation-delay: -996.1333333333333s;
  animation-duration: 16.133333333333333s;
}
.stars .container:nth-child(45) .star {
  width: inherit;
  height: inherit;
  animation-delay: -46.8s;
  animation-duration: 49.3s;
  background: rgba(234,225,145,0.8);
}
.stars .container:nth-child(46) {
  width: 2px;
  height: 2px;
  left: 28.5vw;
  animation-delay: -994s;
  animation-duration: 115.7s;
}
.stars .container:nth-child(46) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.1s;
  animation-duration: 37.7s;
  background: rgba(205,169,241,0.9);
}
.stars .container:nth-child(47) {
  width: 3px;
  height: 3px;
  left: 33.5vw;
  animation-delay: -993.6666666666666s;
  animation-duration: 120.8s;
}
.stars .container:nth-child(47) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45.1s;
  animation-duration: 27.7s;
  background: rgba(247,165,241,0.8);
}
.stars .container:nth-child(48) {
  width: 2px;
  height: 2px;
  left: 20vw;
  animation-delay: -999.8s;
  animation-duration: 34s;
}
.stars .container:nth-child(48) .star {
  width: inherit;
  height: inherit;
  animation-delay: -43.7s;
  animation-duration: 43.4s;
  background: rgba(227,174,253,0.9);
}
.stars .container:nth-child(49) {
  width: 2px;
  height: 2px;
  left: 55vw;
  animation-delay: -995.4s;
  animation-duration: 82.6s;
}
.stars .container:nth-child(49) .star {
  width: inherit;
  height: inherit;
  animation-delay: -40.6s;
  animation-duration: 30.5s;
  background: rgba(249,183,112,0.8);
}
.stars .container:nth-child(50) {
  width: 1px;
  height: 1px;
  left: 54vw;
  animation-delay: -990.4s;
  animation-duration: 241.6s;
}
.stars .container:nth-child(50) .star {
  width: inherit;
  height: inherit;
  animation-delay: -43.5s;
  animation-duration: 5.3s;
  background: rgba(207,172,159,0.9);
}
.stars .container:nth-child(51) {
  width: 2px;
  height: 2px;
  left: 69vw;
  animation-delay: -999.8s;
  animation-duration: 63s;
}
.stars .container:nth-child(51) .star {
  width: inherit;
  height: inherit;
  animation-delay: -44.5s;
  animation-duration: 29.4s;
  background: #d6c96c;
}
.stars .container:nth-child(52) {
  width: 3px;
  height: 3px;
  left: 48vw;
  animation-delay: -994.8s;
  animation-duration: 49.199999999999996s;
}
.stars .container:nth-child(52) .star {
  width: inherit;
  height: inherit;
  animation-delay: -48.8s;
  animation-duration: 31.9s;
  background: #e1edc4;
}
.stars .container:nth-child(53) {
  width: 2px;
  height: 2px;
  left: 79.5vw;
  animation-delay: -993.2s;
  animation-duration: 53.1s;
}
.stars .container:nth-child(53) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.4s;
  animation-duration: 29.5s;
  background: rgba(207,205,153,0.7);
}
.stars .container:nth-child(54) {
  width: 1px;
  height: 1px;
  left: 99vw;
  animation-delay: -990.6s;
  animation-duration: 285.4s;
}
.stars .container:nth-child(54) .star {
  width: inherit;
  height: inherit;
  animation-delay: -48.7s;
  animation-duration: 29.2s;
  background: rgba(245,222,203,0.9);
}
.stars .container:nth-child(55) {
  width: 1px;
  height: 1px;
  left: 76vw;
  animation-delay: -995s;
  animation-duration: 323.8s;
}
.stars .container:nth-child(55) .star {
  width: inherit;
  height: inherit;
  animation-delay: -40.2s;
  animation-duration: 25.1s;
  background: rgba(237,193,152,0.7);
}
.stars .container:nth-child(56) {
  width: 3px;
  height: 3px;
  left: 76vw;
  animation-delay: -998.3333333333334s;
  animation-duration: 76.53333333333333s;
}
.stars .container:nth-child(56) .star {
  width: inherit;
  height: inherit;
  animation-delay: -47.6s;
  animation-duration: 34.5s;
  background: #f9ba8d;
}
.stars .container:nth-child(57) {
  width: 3px;
  height: 3px;
  left: 71.5vw;
  animation-delay: -997.9333333333333s;
  animation-duration: 77.46666666666667s;
}
.stars .container:nth-child(57) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49.4s;
  animation-duration: 19.7s;
  background: rgba(214,157,198,0.8);
}
.stars .container:nth-child(58) {
  width: 2px;
  height: 2px;
  left: 92.5vw;
  animation-delay: -993.5s;
  animation-duration: 136.7s;
}
.stars .container:nth-child(58) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.8s;
  animation-duration: 38.6s;
  background: rgba(231,159,201,0.9);
}
.stars .container:nth-child(59) {
  width: 3px;
  height: 3px;
  left: 8.5vw;
  animation-delay: -995.2s;
  animation-duration: 51.6s;
}
.stars .container:nth-child(59) .star {
  width: inherit;
  height: inherit;
  animation-delay: -48.2s;
  animation-duration: 6.4s;
  background: rgba(200,178,215,0.8);
}
.stars .container:nth-child(60) {
  width: 3px;
  height: 3px;
  left: 70.5vw;
  animation-delay: -999.3333333333334s;
  animation-duration: 23.066666666666666s;
}
.stars .container:nth-child(60) .star {
  width: inherit;
  height: inherit;
  animation-delay: -43.5s;
  animation-duration: 8.4s;
  background: rgba(207,247,246,0.8);
}
.stars .container:nth-child(61) {
  width: 3px;
  height: 3px;
  left: 27.5vw;
  animation-delay: -997.4s;
  animation-duration: 14.4s;
}
.stars .container:nth-child(61) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.7s;
  animation-duration: 10.9s;
  background: rgba(237,166,162,0.9);
}
.stars .container:nth-child(62) {
  width: 2px;
  height: 2px;
  left: 13vw;
  animation-delay: -998.8s;
  animation-duration: 88.6s;
}
.stars .container:nth-child(62) .star {
  width: inherit;
  height: inherit;
  animation-delay: -44.3s;
  animation-duration: 39.6s;
  background: rgba(221,240,197,0.7);
}
.stars .container:nth-child(63) {
  width: 2px;
  height: 2px;
  left: 84vw;
  animation-delay: -990.1s;
  animation-duration: 174.2s;
}
.stars .container:nth-child(63) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.2s;
  animation-duration: 24.3s;
  background: #fadee0;
}
.stars .container:nth-child(64) {
  width: 3px;
  height: 3px;
  left: 21vw;
  animation-delay: -993.5333333333333s;
  animation-duration: 29.866666666666664s;
}
.stars .container:nth-child(64) .star {
  width: inherit;
  height: inherit;
  animation-delay: -46.2s;
  animation-duration: 18.8s;
  background: rgba(202,172,250,0.7);
}
.stars .container:nth-child(65) {
  width: 3px;
  height: 3px;
  left: 35vw;
  animation-delay: -994.2s;
  animation-duration: 68.33333333333333s;
}
.stars .container:nth-child(65) .star {
  width: inherit;
  height: inherit;
  animation-delay: -48.2s;
  animation-duration: 31.2s;
  background: #f6d18a;
}
.stars .container:nth-child(66) {
  width: 1px;
  height: 1px;
  left: 37vw;
  animation-delay: -985.8s;
  animation-duration: 222.6s;
}
.stars .container:nth-child(66) .star {
  width: inherit;
  height: inherit;
  animation-delay: -46s;
  animation-duration: 40.2s;
  background: rgba(210,162,188,0.7);
}
.stars .container:nth-child(67) {
  width: 2px;
  height: 2px;
  left: 8vw;
  animation-delay: -993.9s;
  animation-duration: 78.2s;
}
.stars .container:nth-child(67) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.5s;
  animation-duration: 12.1s;
  background: rgba(222,167,159,0.8);
}
.stars .container:nth-child(68) {
  width: 3px;
  height: 3px;
  left: 73.5vw;
  animation-delay: -997.4s;
  animation-duration: 55.800000000000004s;
}
.stars .container:nth-child(68) .star {
  width: inherit;
  height: inherit;
  animation-delay: -48s;
  animation-duration: 13.8s;
  background: rgba(215,203,235,0.8);
}
.stars .container:nth-child(69) {
  width: 2px;
  height: 2px;
  left: 14vw;
  animation-delay: -997s;
  animation-duration: 90.2s;
}
.stars .container:nth-child(69) .star {
  width: inherit;
  height: inherit;
  animation-delay: -40.6s;
  animation-duration: 8.1s;
  background: #d3bc76;
}
.stars .container:nth-child(70) {
  width: 3px;
  height: 3px;
  left: 38.5vw;
  animation-delay: -995.7333333333333s;
  animation-duration: 121.2s;
}
.stars .container:nth-child(70) .star {
  width: inherit;
  height: inherit;
  animation-delay: -43.9s;
  animation-duration: 26.7s;
  background: rgba(209,250,106,0.9);
}
.stars .container:nth-child(71) {
  width: 2px;
  height: 2px;
  left: 61.5vw;
  animation-delay: -993.3s;
  animation-duration: 38.9s;
}
.stars .container:nth-child(71) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.5s;
  animation-duration: 24.5s;
  background: rgba(255,232,197,0.8);
}
.stars .container:nth-child(72) {
  width: 2px;
  height: 2px;
  left: 65vw;
  animation-delay: -997.5s;
  animation-duration: 158.8s;
}
.stars .container:nth-child(72) .star {
  width: inherit;
  height: inherit;
  animation-delay: -44.2s;
  animation-duration: 12.6s;
  background: rgba(203,236,212,0.8);
}
.stars .container:nth-child(73) {
  width: 1px;
  height: 1px;
  left: 53vw;
  animation-delay: -982s;
  animation-duration: 257.2s;
}
.stars .container:nth-child(73) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.1s;
  animation-duration: 32.6s;
  background: rgba(249,209,112,0.8);
}
.stars .container:nth-child(74) {
  width: 2px;
  height: 2px;
  left: 20vw;
  animation-delay: -992.9s;
  animation-duration: 105.3s;
}
.stars .container:nth-child(74) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42s;
  animation-duration: 37.7s;
  background: rgba(221,247,201,0.8);
}
.stars .container:nth-child(75) {
  width: 3px;
  height: 3px;
  left: 51.5vw;
  animation-delay: -997.6666666666666s;
  animation-duration: 29.53333333333333s;
}
.stars .container:nth-child(75) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.6s;
  animation-duration: 9.8s;
  background: rgba(204,156,158,0.8);
}
.stars .container:nth-child(76) {
  width: 3px;
  height: 3px;
  left: 2vw;
  animation-delay: -997.2s;
  animation-duration: 33.06666666666667s;
}
.stars .container:nth-child(76) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49.8s;
  animation-duration: 15.8s;
  background: rgba(224,214,146,0.7);
}
.stars .container:nth-child(77) {
  width: 2px;
  height: 2px;
  left: 54vw;
  animation-delay: -993.2s;
  animation-duration: 129.7s;
}
.stars .container:nth-child(77) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.4s;
  animation-duration: 41.6s;
  background: #d0d5eb;
}
.stars .container:nth-child(78) {
  width: 1px;
  height: 1px;
  left: 73.5vw;
  animation-delay: -993s;
  animation-duration: 232.4s;
}
.stars .container:nth-child(78) .star {
  width: inherit;
  height: inherit;
  animation-delay: -48.3s;
  animation-duration: 26.3s;
  background: rgba(202,162,241,0.8);
}
.stars .container:nth-child(79) {
  width: 3px;
  height: 3px;
  left: 90vw;
  animation-delay: -996.1333333333333s;
  animation-duration: 83.66666666666667s;
}
.stars .container:nth-child(79) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.3s;
  animation-duration: 43.3s;
  background: rgba(209,203,231,0.8);
}
.stars .container:nth-child(80) {
  width: 1px;
  height: 1px;
  left: 86.5vw;
  animation-delay: -999.8s;
  animation-duration: 323.6s;
}
.stars .container:nth-child(80) .star {
  width: inherit;
  height: inherit;
  animation-delay: -41.2s;
  animation-duration: 33.4s;
  background: #d8d2b8;
}
.stars .container:nth-child(81) {
  width: 3px;
  height: 3px;
  left: 28.5vw;
  animation-delay: -999.5333333333333s;
  animation-duration: 53.46666666666667s;
}
.stars .container:nth-child(81) .star {
  width: inherit;
  height: inherit;
  animation-delay: -43s;
  animation-duration: 8.5s;
  background: #d1e1ec;
}
.stars .container:nth-child(82) {
  width: 1px;
  height: 1px;
  left: 5.5vw;
  animation-delay: -991.6s;
  animation-duration: 207s;
}
.stars .container:nth-child(82) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49.1s;
  animation-duration: 32.8s;
  background: rgba(208,255,181,0.7);
}
.stars .container:nth-child(83) {
  width: 3px;
  height: 3px;
  left: 96vw;
  animation-delay: -997.7333333333333s;
  animation-duration: 70.93333333333334s;
}
.stars .container:nth-child(83) .star {
  width: inherit;
  height: inherit;
  animation-delay: -46.8s;
  animation-duration: 40.9s;
  background: rgba(223,221,204,0.7);
}
.stars .container:nth-child(84) {
  width: 3px;
  height: 3px;
  left: 20vw;
  animation-delay: -995.6666666666666s;
  animation-duration: 35.666666666666664s;
}
.stars .container:nth-child(84) .star {
  width: inherit;
  height: inherit;
  animation-delay: -40.3s;
  animation-duration: 46.1s;
  background: rgba(230,174,118,0.9);
}
.stars .container:nth-child(85) {
  width: 1px;
  height: 1px;
  left: 6.5vw;
  animation-delay: -987s;
  animation-duration: 224.2s;
}
.stars .container:nth-child(85) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45.7s;
  animation-duration: 38.2s;
  background: rgba(253,167,241,0.9);
}
.stars .container:nth-child(86) {
  width: 1px;
  height: 1px;
  left: 73vw;
  animation-delay: -992.4s;
  animation-duration: 375s;
}
.stars .container:nth-child(86) .star {
  width: inherit;
  height: inherit;
  animation-delay: -46.6s;
  animation-duration: 48.9s;
  background: rgba(248,230,229,0.9);
}
.stars .container:nth-child(87) {
  width: 1px;
  height: 1px;
  left: 28vw;
  animation-delay: -982.2s;
  animation-duration: 165s;
}
.stars .container:nth-child(87) .star {
  width: inherit;
  height: inherit;
  animation-delay: -46.7s;
  animation-duration: 17.3s;
  background: rgba(202,199,189,0.8);
}
.stars .container:nth-child(88) {
  width: 3px;
  height: 3px;
  left: 73.5vw;
  animation-delay: -999.5333333333333s;
  animation-duration: 68.86666666666666s;
}
.stars .container:nth-child(88) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.7s;
  animation-duration: 41.4s;
  background: rgba(224,247,255,0.8);
}
.stars .container:nth-child(89) {
  width: 1px;
  height: 1px;
  left: 28.5vw;
  animation-delay: -991s;
  animation-duration: 313s;
}
.stars .container:nth-child(89) .star {
  width: inherit;
  height: inherit;
  animation-delay: -44.1s;
  animation-duration: 19.4s;
  background: rgba(209,152,180,0.7);
}
.stars .container:nth-child(90) {
  width: 1px;
  height: 1px;
  left: 66.5vw;
  animation-delay: -991.4s;
  animation-duration: 187s;
}
.stars .container:nth-child(90) .star {
  width: inherit;
  height: inherit;
  animation-delay: -44.5s;
  animation-duration: 48.5s;
  background: rgba(241,186,196,0.9);
}
.stars .container:nth-child(91) {
  width: 3px;
  height: 3px;
  left: 20vw;
  animation-delay: -995.4666666666667s;
  animation-duration: 66.33333333333333s;
}
.stars .container:nth-child(91) .star {
  width: inherit;
  height: inherit;
  animation-delay: -47.4s;
  animation-duration: 12.5s;
  background: rgba(211,241,102,0.8);
}
.stars .container:nth-child(92) {
  width: 3px;
  height: 3px;
  left: 80.5vw;
  animation-delay: -998.4666666666667s;
  animation-duration: 50s;
}
.stars .container:nth-child(92) .star {
  width: inherit;
  height: inherit;
  animation-delay: -41.4s;
  animation-duration: 13.6s;
  background: #f8f8db;
}
.stars .container:nth-child(93) {
  width: 1px;
  height: 1px;
  left: 88vw;
  animation-delay: -990.2s;
  animation-duration: 55.8s;
}
.stars .container:nth-child(93) .star {
  width: inherit;
  height: inherit;
  animation-delay: -43.9s;
  animation-duration: 5.2s;
  background: rgba(255,229,178,0.7);
}
.stars .container:nth-child(94) {
  width: 2px;
  height: 2px;
  left: 10vw;
  animation-delay: -994.4s;
  animation-duration: 154.4s;
}
.stars .container:nth-child(94) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49.2s;
  animation-duration: 28.6s;
  background: rgba(219,252,189,0.7);
}
.stars .container:nth-child(95) {
  width: 2px;
  height: 2px;
  left: 21vw;
  animation-delay: -998s;
  animation-duration: 68.6s;
}
.stars .container:nth-child(95) .star {
  width: inherit;
  height: inherit;
  animation-delay: -48.5s;
  animation-duration: 7.7s;
  background: rgba(237,215,153,0.7);
}
.stars .container:nth-child(96) {
  width: 3px;
  height: 3px;
  left: 36.5vw;
  animation-delay: -993.4666666666667s;
  animation-duration: 131.4s;
}
.stars .container:nth-child(96) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.5s;
  animation-duration: 37.8s;
  background: rgba(244,164,101,0.7);
}
.stars .container:nth-child(97) {
  width: 1px;
  height: 1px;
  left: 63.5vw;
  animation-delay: -992.8s;
  animation-duration: 159s;
}
.stars .container:nth-child(97) .star {
  width: inherit;
  height: inherit;
  animation-delay: -40.1s;
  animation-duration: 39.4s;
  background: #cbb2a0;
}
.stars .container:nth-child(98) {
  width: 3px;
  height: 3px;
  left: 47.5vw;
  animation-delay: -994.7333333333333s;
  animation-duration: 22.666666666666668s;
}
.stars .container:nth-child(98) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49.2s;
  animation-duration: 16.5s;
  background: #d6e6c3;
}
.stars .container:nth-child(99) {
  width: 3px;
  height: 3px;
  left: 35.5vw;
  animation-delay: -994.8666666666667s;
  animation-duration: 26.53333333333333s;
}
.stars .container:nth-child(99) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45.1s;
  animation-duration: 30.8s;
  background: #e4f882;
}
.stars .container:nth-child(100) {
  width: 3px;
  height: 3px;
  left: 30vw;
  animation-delay: -994.1333333333333s;
  animation-duration: 123s;
}
.stars .container:nth-child(100) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.9s;
  animation-duration: 35.8s;
  background: rgba(207,204,133,0.9);
}
@-moz-keyframes stars {
  0% {
    transform: translateY(110vh) translateZ(0);
  }
  100% {
    transform: translateY(-10vh) translateZ(0);
  }
}
@-webkit-keyframes stars {
  0% {
    transform: translateY(110vh) translateZ(0);
  }
  100% {
    transform: translateY(-10vh) translateZ(0);
  }
}
@-o-keyframes stars {
  0% {
    transform: translateY(110vh) translateZ(0);
  }
  100% {
    transform: translateY(-10vh) translateZ(0);
  }
}
@keyframes stars {
  0% {
    transform: translateY(110vh) translateZ(0);
  }
  100% {
    transform: translateY(-10vh) translateZ(0);
  }
}
@-moz-keyframes twinkle {
  0%, 80%, 100% {
    opacity: 0.7;
    box-shadow: 0 0 0 #fff, 0 0 0 #fff;
  }
  95% {
    opacity: 1;
    box-shadow: 0 0 2px #fff, 0 0 4px #fff;
  }
}
@-webkit-keyframes twinkle {
  0%, 80%, 100% {
    opacity: 0.7;
    box-shadow: 0 0 0 #fff, 0 0 0 #fff;
  }
  95% {
    opacity: 1;
    box-shadow: 0 0 2px #fff, 0 0 4px #fff;
  }
}
@-o-keyframes twinkle {
  0%, 80%, 100% {
    opacity: 0.7;
    box-shadow: 0 0 0 #fff, 0 0 0 #fff;
  }
  95% {
    opacity: 1;
    box-shadow: 0 0 2px #fff, 0 0 4px #fff;
  }
}
@keyframes twinkle {
  0%, 80%, 100% {
    opacity: 0.7;
    box-shadow: 0 0 0 #fff, 0 0 0 #fff;
  }
  95% {
    opacity: 1;
    box-shadow: 0 0 2px #fff, 0 0 4px #fff;
  }
}


