html{background-color: #fff}
body, html {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
    -webkit-font-smoothing: antialiased;
/*        height: 8378px;*/
    background-color: #fff;
    max-height: 100%;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
}

body{
        height:100%;
}


body.modal-visible #bodybody {
    font-family: 'Open Sans', sans-serif;
    opacity: .8;
    -ms-filter: blur(20px);
    -webkit-filter: blur(40px);
    filter: blur(40px);
}
body, button, input, select, textarea {
    font-family: 'Open Sans', sans-serif!important;
}

footer{
    bottom: 0px;
    width: 100%;
    z-index: 0;
    padding: 80px 20px!important;
}
nav{
    position: relative;
    z-index: 10;
}

#bodybody{
    background-color: #fff;
}
/*TAGS--------------------------------------------------------------------------------------------------------------------------*/

img {
    -webkit-backface-visibility: hidden; 
    -webkit-transform: translateZ(0,0,0); 
    transform: translate3d(0,0,0);
}


a {
    -webkit-transition: .3s ease;
    transition: .3s ease;
    color: #fff;
}

a:hover{
    color:#89c4ff;
}

span{font-size: 16px;}

::-webkit-input-placeholder {
    color:#b9b9bb;
}
input:focus::-webkit-input-placeholder{

       -webkit-transition: 0.3s ease;
       transition: 0.3s ease; 
}
input:focus::-webkit-input-placeholder { 
    -webkit-transform: translateX(30px);
    opacity:0; 
    color: #fff; 
    -webkit-transform: 
    translateX(30px); 
    transform: 
    translateX(30px); }

input:active{
    -webkit-transform: scale(1.03);
    transform: scale(1.03)
}
/*NATIVE CLASSES----------------------------------------------------------------------------------------------------------------*/

.section{
    padding-top: 76px;
    padding-bottom: 76px;
    position: relative;
    z-index: 4;
    -webkit-transition: all .6s;
    transition: all .6s;
}

.columns{
    position: relative;
    z-index: 90;
}

.input{
    font-family: 'Open Sans', sans-serif;
    background-color: #f3f3f3;
    color: #000;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    font-size: 16px;
    border: none;
}

.input,::-webkit-input-placeholder{
    font-weight: 700;
    font-size: 16px;
}

input.is-large, .textarea.is-large {
    padding-bottom: 2px;
    font-size: 16px!important;
    box-shadow: inset 0px 2px 2px #eeeeee;
}

.input:active, .input:focus, .input.is-active, .textarea:active, .textarea:focus, .textarea.is-active {
background-color: #ffebd2;
     border: 2px solid #ffb053;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    color: #fff;
}

.content{
    color: #fff;
}

.content li + li {
    margin-top: 1.25em;
}

.content h6 {
    font-size: 15px;
}

a.nav-item {
    color: #1976d2;
    border-bottom: 3px solid transparent;
}
.nav-item a.is-tab.is-active, a.nav-item.is-tab.is-active {
border-bottom: 3px solid #1976d2;
    border-top: 3px solid transparent;
    color: #ffffff;
}
.nav-item a:hover, a.nav-item:hover {
    color: #fff;
}
.nav-item a.is-tab:hover, a.nav-item.is-tab:hover {
    border-bottom: 3px solid #ffffff;
}
.nav > .container {
    min-height: 80px;
}

/*NATIVE IDS--------------------------------------------------------------------------------------------------------------------*/


/*CUSTOM HELPERS----------------------------------------------------------------------------------------------------------------*/

.transition{
    -webkit-transition: 0.6s all ease-in-out!important;
    transition: 0.6s all ease-in-out!important;

}


.padding10{
    padding: 10px;
}

.def-padding{
        padding: 5px 7px 7px;
}

.noscroll {
    overflow-y: hidden;
}

.no-round-corners {
    border-radius: 0;
}

.flex-just-center {
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

h1,
.fs38 {
    font-size: 38px;
}

.fs30{
    font-size: 30px;
}

h2,
.fs24 {
    font-size: 24px;
}

h3,
.fs22 {
    font-size: 22px;
}

h4,
.fs20 {
    font-size: 20px;
}

h5,
.fs16 {
    font-size: 16px;
}

h6,
.fs15 {
    font-size: 15px;
}

.fs14 {
    font-size: 14px;
}

.fs13 {
    font-size: 13px;
}

.fw300 {
    font-weight: 300!important;
}
.fw400 {
    font-weight: 400!important;
}
.fw600 {
    font-weight: 600!important;
}
.fw700 {
    font-weight: 700!important;
}

.blackish-text,.black-text {
    color: #1b1b1b!important;
}

.gray-text {
    color: #b9b9bb!important;
}

.white-text {
    color: #fff!important;
}

.white-bg {
    background-color: #fff;
}

.light-blue-text{
    color: #89c4ff;
}

.blue-text {
    color: #1976d2;
}

.blue-bg {
    background-color: #1976d2;
}

.orange-text {
    color: #ffb053!important;
}

.orange-bg {
    background-color: #ffb053;
}


.dark-blue-text {
    color: #043c88;
}

.dark-blue-bg {
    background-color: #043c88;
}

.underiline {
    text-decoration: underline!important;
}

.margin-b20{
    margin-bottom: 20px!important;
}

.margin-b40{
    margin-bottom: 40px!important;
}

.margin-b90{
    margin-bottom: 90px!important;
}
.margin-b120{
    margin-bottom: 120px!important;
}

.padding-b40{
        padding-bottom: 40px!important;
}

.padding-t40{
        padding-top: 40px!important;
}

.padding-r60{
padding-right: 60px!important;
}

.justify-content-end{
        -webkit-box-pack: end!important;
        -ms-flex-pack: end!important;
        justify-content: flex-end!important;
}
/*CUSTOM CLASSES----------------------------------------------------------------------------------------------------------------*/
.scroll{
    padding: 30px 0px;
}

.sc5-text-button{
    position: absolute;
    bottom: 50px;
}


.no-action{
    pointer-events: none;
}

.button-custom {
    font-weight: 600;
    padding: 18px 23px 42px;
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
    border: none!important;
    width: 100%;
}

.button-custom-sc5 {
    font-size: 16px;
    height: 40px;
    padding-left: 40px;
    padding-right: 40px;
    width: 65%;
    padding-top: 28px;
    padding-bottom: 28px;
}


.button-custom:hover {
    font-weight: 600;
    color: #fff;
    background-color: #73aafd;
    box-shadow: 0 15px 10px rgba(148, 173, 210, 0.74);
}

.button-custom-sc5:hover {
    box-shadow: 0 15px 10px rgb(0, 7, 17)!important;
}


.button-custom:active {
-webkit-transform: scale(1.1);
transform: scale(1.1)
}

.custom-form-1,.custom-form-2,.custom-form-3{
    padding: 40px 47px;
}



.Aligner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

nav .Aligner  {
    margin: auto;
}

.Aligner-item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.Aligner-item--top {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.Aligner-item--bottom {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.Aligner-item--fixed {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  max-width: 50%;
}

.flex-column {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
}

.flex-align-left{
        margin-right: auto;
}

.columns:not(:last-child) {
    margin-bottom: 47px;
}

.text-wrap:after { content: ''; clear: both; visibility: hidden; }
.text-wrap img { float: left; margin-right: 10px; }
.text-wrap p   { overflow: hidden; text-align: left!important; }



.orange-border-div{
    padding:60px 20px 60px 60px;
        border: 10px solid #ffb053;
    border-right: none;
}

#section5 .column {
        padding-top: 0;
    padding-bottom: 0;
}

#section4 h4,#section4 h5{
        line-height: 30px;
}

.soc-icon{
        border-bottom: 0!important;
    image-rendering: optimizeSpeed;             /*                     */
image-rendering: -moz-crisp-edges;          /* Firefox             */
image-rendering: -o-crisp-edges;            /* Opera               */
image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
image-rendering: optimize-contrast;         /* CSS3 Proposed       */
-ms-interpolation-mode: nearest-neighbor;  
    margin-right: 10px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.soc-icon:hover{
    -webkit-transform: scale3d(1.1.0);
    transform: scale(1.2);
}

.scale:before{
-webkit-transform: scale3d(1.1.0);
transform: scale3d(1.1.0)
}
.scale:after{
-webkit-transform: scale3d(1.1.0);
transform: scale3d(1.1.0);
      filter: blur(0);
  -webkit-filter: blur(0);
}

/*CUSTOM IDS--------------------------------------------------------------------------------------------------------------------*/

#section1 {}

#section2 {color: #1b1b1b;}

#section3 {color: #fff;}

#section4 {color: #1b1b1b;}

#section5 {background-color: #000e21;position: relative; z-index: 1}

#section6 {padding-top: 70px;    line-height: 22px;}

#section7 {}

#footer{}

#xwing{
        position: absolute;
    left: -278px;
    -webkit-animation: levitate 2s alternate ease-in-out infinite;
    animation: levitate 15s alternate ease-in-out infinite;
}
#dash-road{
    position: absolute;
    z-index: 1;
    left: 81px;
    top: 380px;
    width: 33%;
}

#sc5-bg{
    height: 100%;
    width: 107%;
    max-width: 130%;
}

#rock-top,#rock-left,#rock-right-1,#rock-right-2,#rock-bot-right{
    position: absolute;
    top: 230px;
    -webkit-animation: levitate 2s alternate ease-in-out infinite;
    animation: levitate 2s alternate ease-in-out infinite;
}
#rock-left{
    left: -50px;
    top: 475px;
    -webkit-animation-delay: 2s;
    animation-delay: 0.3s;
}

#rock-right-1{
    left: 250px;
    top: 375px;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

#rock-right-2{
    left: 320px;
    top: 375px;
}
#rock-bot-right{
    left: 340px;
    top: 520px;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

#jedi{
    position: relative;
    z-index: 2;
    pointer-events: none;
}

#sc3-icon-1-gsaber{
        -webkit-animation: 5s attack cubic-bezier(0,1.38,.83,.67) infinite;
    animation: 5s attack ease infinite;
    -webkit-animation-delay: .7s;
    animation-delay: .7s
}

#sc3-icon-1-rsaber{
    top: -276px;
    position: relative;
    left: -10px;
    -webkit-animation: 5s attack cubic-bezier(0,1.38,.83,.67) infinite;
    animation: 5s attack ease infinite;
}

#sc3-icon-4-man{
    -webkit-animation: levitateupdown 3s ease-in-out infinite;
    animation: levitateupdown 3s ease-in-out infinite;
}

#sc3-icon-4-rocks{
    -webkit-animation: levitateupdown 5s ease-in-out infinite;
    animation: levitateupdown 5s ease-in-out infinite;
    position: relative;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    bottom: 250px
}


#sc3-icon-3-ship{
    -webkit-animation: scale 5s ease-in-out infinite;
    animation: scale 5s ease-in-out infinite;
        position: relative;
    left: 103px;
    top: 24px;
    z-index: 1;
}

#sc3-icon-3-planet {
    position: relative;
    top: -109px;
    left: 146px;
}

#sc3-icon-2-stars{
    position: relative;
    z-index: 2;
    -webkit-animation: glow 5s ease-in-out infinite;
    animation: glow 5s ease-in-out infinite;
    top: 31px;
}
#sc3-icon-2{
    position: relative;
    top: -177px;
    left: 25px;
    z-index: 1;
    -webkit-animation: zoom 15s ease-in-out infinite;
    animation: zoom 15s ease-in-out infinite;
}
#sc3-icon-2-black{
    position: relative;
    top: -364px;
    z-index: 0;
    -webkit-animation: zoom 5s ease-in-out infinite;
    animation: zoom 5s ease-in-out infinite;
}

#sc5-path{    
    position: absolute;
left: 41%;
    top: 43%;
    -webkit-transform: translateY(-50%) translateX(-50%) rotate(0deg);
    transform: translateY(-50%) translateX(-50%) rotate(0deg);
    z-index: 2;
}
#sc5-void-wrap{
        -webkit-transform: translateY(-50%) translateX(-50%) rotate(154deg);
        transform: translateY(-50%) translateX(-50%) rotate(154deg);
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 114%;
}
#sc5-icon-1-black{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-animation: zoomsc5 20s ease-in-out infinite;
    animation: zoomsc5 20s ease-in-out infinite;
    z-index: 1;
    width: 120%;
}
#section5 .column{
    position: relative;
    z-index: 1;
    
}
.sc5-star{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%) scale(0);
    transform: translateY(-50%) translateX(-50%) scale(0);
    -webkit-animation: star 1.4s linear infinite;
    animation: star 1.4s linear infinite;
    z-index: 4;
}

.sc5-star1{
     left: 74%;
    top: -26%;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
.sc5-star2{
left: -6%;
top: 80%;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
.sc5-star3{
    left: 69%;
    top: 61%;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.sc5-star4{
left: 64%;
    top: 52%;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}
.sc5-star5{
    left: 56%;
    top: 24%;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sc5-star6{
    left: 86%;
    top: 24%;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.sc5-star7{
    left: 76%;
    top: 38%;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

#sc5-ship-wrap{
z-index: 99;
    -webkit-transform: translateY(253%) translateX(-5%) scale(1) rotate(-42deg);

    transform: translateY(266%) translateX(-5%) scale(1) rotate(-42deg);
    width: 60%;
    height: 200px;
    position: absolute;
}

#sc5-ship{
    position: absolute;
}
#sc5-ship-whole{
    width: 100px;
    height: 100px;
    position: absolute;
    -webkit-transition: 700ms ease-out;
    transition: 700ms ease-out;
    z-index: 7;
    -webkit-animation: shipFlyShake 3s ease-in-out infinite;
    animation: shipFlyShake 3s ease-in-out infinite;
}
#sc5-ship-plasma{
    position: relative;
    left: -41px;
    top: 49px;
    -webkit-animation: glow 1.5s infinite;
    animation: glow 1.5s infinite;
}


#sc5-plan{
        position: absolute;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    left: 23%;
    top: 39%;
    -webkit-transition: 15ms ease;
    transition: 15ms ease;
}

.sc5-cert{
    position: absolute;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
left: 40%;
    top: 29%;
    z-index: 11;
    -webkit-perspective: 500px;
    perspective: 500px;
}

#sc5-cert-mult{
    position: absolute;
    z-index: 12;
    -webkit-transition: 200ms ease-in;
    transition: 200ms ease-in;
    
}

#sc5-cert-mult:hover{
    -webkit-transform: translate3d(0, 0, -50px);
    transform: translate3d(0, 0, -50px);
}

#sc5-cert-mult:hover + #sc5-sert-overlay
{
   -webkit-transform: translate3d(0, 0, 50px);
   transform: translate3d(0, 0, 50px);
}
#sc5-sert-overlay{
    position: absolute;
    z-index: 9;
    -webkit-transition: 300ms ease-in;
    transition: 300ms ease-in;
}
#sc5-cert-bg{
    position: relative;
    z-index: 8;
}


@-webkit-keyframes star {
 
  0% { 
      -webkit-transform: scale(0) rotate(0deg); 
      transform: scale(0) rotate(0deg); }
    
    35% { 
      -webkit-transform:  scale(0.3) rotate(180deg); 
      transform:  scale(0.3) rotate(180deg); }
    
  70% { 
      -webkit-transform: scale(0) rotate(360deg); 
      transform: scale(0) rotate(360deg); }
    
      100% { 
      -webkit-transform:  scale(0) rotate(360deg); 
      transform:  scale(0) rotate(360deg); }
 
}


@keyframes star {
 
  0% { 
      -webkit-transform: scale(0) rotate(0deg); 
      transform: scale(0) rotate(0deg); }
    
    35% { 
      -webkit-transform:  scale(0.3) rotate(180deg); 
      transform:  scale(0.3) rotate(180deg); }
    
  70% { 
      -webkit-transform: scale(0) rotate(360deg); 
      transform: scale(0) rotate(360deg); }
    
      100% { 
      -webkit-transform:  scale(0) rotate(360deg); 
      transform:  scale(0) rotate(360deg); }
 
}



@-webkit-keyframes shipFlyMob {
    
    0% { 
      -webkit-transform: translate3d(-130px,0px,0px) rotate(35deg); 
      transform: translate3d(-130px,0px,0px) rotate(35deg);
    }
    100% {   


      -webkit-transform: translate3d(900px,0px,0px) rotate(35deg);   
      transform: translate3d(900px,0px,0px) rotate(35deg);
    }
}



@keyframes shipFlyMob {
    
    0% { 
      -webkit-transform: translate3d(-130px,0px,0px) rotate(35deg); 
      transform: translate3d(-130px,0px,0px) rotate(35deg);
    }
    100% {   
      -webkit-transform: translate3d(850px,0px,0px) rotate(35deg);   
      transform: translate3d(850px,0px,0px) rotate(35deg);
    }
}







@-webkit-keyframes shipFlyShake  {
  0% {

    -webkit-transform: translate(0, 0) rotate(37deg);

    transform: translate(0, 0) rotate(37deg);
  }
    
    50% {

    -webkit-transform: translate(0, 10px) rotate(37deg);

    transform: translate(5px, 10px) rotate(37deg);
  }
    
    100% {

    -webkit-transform: translate(0, 0px) rotate(37deg);

    transform: translate(0, 0px) rotate(37deg);
  }
}







@keyframes shipFlyShake  {
  0% {

    -webkit-transform: translate(0, 0) rotate(37deg);

    transform: translate(0, 0) rotate(37deg);
  }
    
    50% {

    -webkit-transform: translate(0, 10px) rotate(37deg);

    transform: translate(5px, 10px) rotate(37deg);
  }
    
    100% {

    -webkit-transform: translate(0, 0px) rotate(37deg);

    transform: translate(0, 0px) rotate(37deg);
  }
}





@-webkit-keyframes attack {
 
  from { 
      -webkit-transform: rotate(0deg); 
      transform: rotate(0deg); }
  to { 
      -webkit-transform: rotate(60deg); 
      transform: rotate(60deg); }
 
}


@keyframes attack {
from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
 
}


@-webkit-keyframes zoom  {
    0% {-webkit-transform: scale(0.8);transform: scale(0.8)}
    50% {-webkit-transform: scale(1.1);transform: scale(1.1)}
    100% {-webkit-transform: scale(0.8);transform: scale(0.8)}
}

@-webkit-keyframes zoomsc5  {
    0% {-webkit-transform: translateY(-50%) translateX(-50%) scale(0.8);transform: translateY(-50%) translateX(-50%) scale(0.8)}
    50% {-webkit-transform: translateY(-50%) translateX(-50%) scale(1.1);transform: translateY(-50%) translateX(-50%) scale(1.1)}
    100% {-webkit-transform: translateY(-50%) translateX(-50%) scale(0.8);transform: translateY(-50%) translateX(-50%) scale(0.8)}
}

@keyframes zoomsc5  {
    0% {-webkit-transform: translateY(-50%) translateX(-50%) scale(0.8);transform: translateY(-50%) translateX(-50%) scale(0.8)}
    50% {-webkit-transform: translateY(-50%) translateX(-50%) scale(1.1);transform: translateY(-50%) translateX(-50%) scale(1.1)}
    100% {-webkit-transform: translateY(-50%) translateX(-50%) scale(0.8);transform: translateY(-50%) translateX(-50%) scale(0.8)}
}

@keyframes zoom  {
    0% {-webkit-transform: scale(0.8);transform: scale(0.8)}
    50% {-webkit-transform: scale(1.1);transform: scale(1.1)}
    100% {-webkit-transform: scale(0.8);transform: scale(0.8)}
}

@-webkit-keyframes show  {
  0% {opacity: 0}
    100% {opacity: 1}
}

@keyframes show  {
  0% {opacity: 0}
100% {opacity: 1}
}

@-webkit-keyframes glow  {
  0% {opacity: 0}
    20% {opacity: 0.7}
    50% {opacity: 0.3}
    80% {opacity: 1}
    100% {opacity: 0}
}
@keyframes glow  {
  0% {opacity: 0}
    20% {opacity: 0.7}
    50% {opacity: 0.3}
    80% {opacity: 1}
    100% {opacity: 0}
}

@-webkit-keyframes scale  {
  0% {
      -webkit-transform: scale(0);
      transform: scale(0) translate(0,0)
  }
    50% {
    -webkit-transform: scale(1);
    transform: scale(1) translate(-100px,-100px)
  }

        80% {
    -webkit-transform: scale(1);
    transform: scale(1) translate(-100px,-100px)
  }
    
    100% {
    -webkit-transform: scale(1);
    transform: scale(1) translate(-1500px,0px)
  }
}






@keyframes scale  {
  0% {
      -webkit-transform: scale(0);
      transform: scale(0) translate(0,0)
  }
    50% {
    -webkit-transform: scale(1);
    transform: scale(1) translate(-100px,-70px)
  }

        80% {
    -webkit-transform: scale(1);
    transform: scale(1) translate(-100px,-70px)
  }
    
    100% {
    -webkit-transform: scale(1) translate(-1500px,0px);
    transform: scale(1) translate(-1500px,0px)
  }
}




@-webkit-keyframes levitateupdown  {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
    
    50% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
    
    100% {
    -webkit-transform: translate(0, 5px);
    transform: translate(0, 0px);
  }
}

@keyframes levitateupdown  {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
    
    50% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
    
    100% {
    -webkit-transform: translate(0, 5px);
    transform: translate(0, 0px);
  }
}




@-webkit-keyframes levitate {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0) rotate(0deg);
  }
    
    50% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px) rotate(5deg);
  }
    
    100% {
    -webkit-transform: translate(0, 5px);
    transform: translate(0, 10px) rotate(-5deg);
  }
}




@keyframes levitate {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0) rotate(0deg);
  }
    
    50% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px) rotate(5deg);
  }
    
    100% {
    -webkit-transform: translate(0, 5px);
    transform: translate(0, 10px) rotate(-5deg);
  }
}


/*MEDIA------------------------------------------------------------------------------------------------------*/



@media (min-width: 1769px){
#sc5-ship-wrap{

    -webkit-transform: translateY(310%) translateX(-5%) scale(1) rotate(-42deg);

    transform: translateY(310%) translateX(-5%) scale(1) rotate(-42deg);
    width: 60%;
    height: 200px;
    position: absolute;
}
}






@media (min-width: 769px){
#section3-pdf {
    margin-left: 19.66667%;
}
}

@media screen and (min-width: 980px) {
#section5 .container {
    margin: 0 auto;
    max-width: 1090px;
}
}

@media (max-width: 1180px){
    
    #sc5-ship-wrap {
    -webkit-transform: translateY(232%) translateX(-5%) scale(1) rotate(-42deg);
    transform: translateY(232%) translateX(-5%) scale(1) rotate(-42deg);
    position: absolute;
}

    .orange-text-main{
            font-size: 32px;
    }
}

@media (max-width: 980px){
#dash-road{
    left: 95px;
    height: 850px;
}
    .orange-text-main{
            font-size: 26px;
    }
            #sc5-bg{
display: none
}
    #section5{
        padding-top: 80px;
    }
    
        #section6 {
    padding-top: 76px;
}
}
@media (max-width: 980px){
    #section6 .has-text-right,#section6 .has-text-left{
        text-align: center;
    }
}
@media (max-width: 768px){
    .sc5-cert,#sc5-plan,#sc5-path{
        display: none;
    }
    .is-hh{
        text-align: center;
    }
    .is-hh-orange{
        background-color: #ffb053;
        padding: 5px 7px 7px;
    }
    .flex-align-left {
    margin-right: 0;
}
    
    #section5 .has-text-left{
        text-align: center;
    }
    
    #dash-road {
display: none
}
    h2,h5,h4,a,p{
        text-align: center
    }
    #section3-pdf {
        text-align: center;
}
    #section4 div{
        text-align: center
    }
    
.justify-content-end {
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
    .orange-border-div {
        padding: 60px 20px 60px 20px;
    border-right: 10px solid #ffb053;
        width: 100%;
        text-align: center;

}
    .arrow-orange{
        display: none;
    }

    
    #laptop{
    position: relative;
    left: 32px;
    }
    #section7 h1 {padding-right: 0px!important;}
    #section7 .has-text-left{
    text-align: center;
}
    .sc7-p {height: 0px!important;}
        #section7{
    text-align: center;}
    .sc3-images{
        width: 300px;
    }
    #sc5-ship-whole{
    -webkit-animation: shipFlyMob 20s linear infinite;
    animation: shipFlyMob 20s linear infinite;
            -webkit-transition: 700ms linear;
    transition: 700ms linear;
}
}

@media (max-width: 468px){
#laptop {
    position: relative;
    left: 0px;
}
        .sc3-images{
        width: 100%;
    }
    .custom-form {
    padding: 40px 19px;
}
}




.lightsaber {
    position: relative;
    top: -183px;
    left: -22px;
    -webkit-transform: rotate(160deg);
    transform: rotate(160deg);
    z-index: 1;
    
}


.lightsaber .switch {
	background: #ff8a00;
	width: 5px;
	height: 10px;
	display: block;
	position: absolute;
	bottom: 25px;
	left: 13px;
	transition: left 200ms;
	-moz-transition: left 200ms;
	-webkit-transition: left 200ms;
	-o-transition: left 200ms;
	-ms-transition: left 200ms;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
    box-shadow: 0 0 14px 8px #ff8a00;
}

.lightsaber input[type=checkbox] {
	position: absolute;
	bottom: 0;
	left: 0;
	opacity: 0;
	-moz-opacity: 0;
	-webkit-opacity: 0;
	-o-opacity: 0;
	-ms-opacity: 0;
	z-index: 77;
    cursor: pointer;
    padding: 10px;
    height: 57px;
    width: 26px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.lightsaber .plasma {
	transition: height 300ms;
	-moz-transition: height 300ms;
	-webkit-transition: height 300ms;
	-o-transition: height 300ms;
	-ms-transition: height 300ms;
	border-radius: 12px 12px 0 0;
	position: absolute;
	bottom: 45px;
	left: 8px;
	width: 8px;
	display: block;
	filter: blur(1px);
	-moz-filter: blur(1px);
	-webkit-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	height: 0;
}


.lightsaber input[type=checkbox]:checked ~ div.plasma {
	height: 197px;
}

.lightsaber input[type=checkbox]:hover ~ div.switch {
	background: #ff8234;
	left: 12px;
}

.lightsaber input[type=checkbox]:checked ~ div.switch {
	background: #00ff04;
    box-shadow: 0 0 14px 8px #00ff04;
     -webkit-animation: glow 5s ease-in-out infinite;
    animation: glow 5s ease-in-out infinite;
}

.yoda {
	background-color:#81ff77; /* Old browsers */
background: -webkit-linear-gradient(left, rgb(2, 244, 20) 0%,rgb(2, 245, 19) 30%,rgb(0, 255, 42) 50%,rgb(0, 255, 42) 70%,rgb(2, 245, 19) 100%); /* IE6-9 */
	animation-name: yoda;
	-moz-animation-name: yoda;
	-webkit-animation-name: yoda;
	-o-animation-name: yoda;
	-ms-animation-name: yoda;
	animation-duration: 2s;
	-moz-animation-duration: 2s;
	-webkit-animation-duration: 2s;
	-o-animation-duration: 2s;
	-ms-animation-duration: 2s;
	animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
}

/* Animations */
@-webkit-keyframes yoda {
	from { box-shadow: 0 0 10px #7dff87; }
	50% { box-shadow: 0 0 16px #00ff89; }
	to { box-shadow: 0 0 10px #7dff87; }
}
@keyframes yoda {
	from { box-shadow: 0 0 10px #7dff87; }
	50% { box-shadow: 0 0 16px #00ff89; }
	to { box-shadow: 0 0 10px #7dff87; }
}

















@keyframes vex-fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes vex-fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes vex-fadeout {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes vex-fadeout {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes vex-rotation {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg); }
  100% {
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg); } }

@-webkit-keyframes vex-rotation {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg); }
  100% {
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg); } }

.vex, .vex *, .vex *:before, .vex *:after {
  box-sizing: border-box; }

.vex {
  position: fixed;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 1111;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.vex-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll; }

.vex-overlay {
  background: #000;
  filter: alpha(opacity=40);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; }

.vex-overlay {
  animation: vex-fadein 0.5s;
  -webkit-animation: vex-fadein 0.5s;
  -moz-animation: vex-fadein 0.5s;
  -ms-animation: vex-fadein 0.5s;
  -o-animation: vex-fadein 0.5s;
  -webkit-backface-visibility: hidden;
  position: fixed;
        background: rgba(0, 8, 20, 0.8);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  .vex.vex-closing .vex-overlay {
    animation: vex-fadeout 0.5s;
    -webkit-animation: vex-fadeout 0.5s;
    -moz-animation: vex-fadeout 0.5s;
    -ms-animation: vex-fadeout 0.5s;
    -o-animation: vex-fadeout 0.5s;
    -webkit-backface-visibility: hidden; }

.vex-content {
        z-index: 111111;
    position: fixed;
        left: 50%;
    top: 50%;
-webkit-transform: translateY(-50%) translateX(-50%);
transform: translateY(-50%) translateX(-50%);
  animation: vex-fadein 0.5s;
  -webkit-animation: vex-fadein 0.5s;
  -moz-animation: vex-fadein 0.5s;
  -ms-animation: vex-fadein 0.5s;
  -o-animation: vex-fadein 0.5s;
  -webkit-backface-visibility: hidden;
}
  .vex.vex-closing .vex-content {
    animation: vex-fadeout 0.5s;
    -webkit-animation: vex-fadeout 0.5s;
    -moz-animation: vex-fadeout 0.5s;
    -ms-animation: vex-fadeout 0.5s;
    -o-animation: vex-fadeout 0.5s;
    -webkit-backface-visibility: hidden; }

.vex-close:before {
  font-family: Arial, sans-serif;
  content: "\00D7";
    font-size: 35px;}

.vex-dialog-form {
  margin: 0; }

.vex-dialog-button {
  text-rendering: optimizeLegibility;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; }

.vex-loading-spinner {
  animation: vex-rotation 0.7s linear infinite;
  -webkit-animation: vex-rotation 0.7s linear infinite;
  -moz-animation: vex-rotation 0.7s linear infinite;
  -ms-animation: vex-rotation 0.7s linear infinite;
  -o-animation: vex-rotation 0.7s linear infinite;
  -webkit-backface-visibility: hidden;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 1112;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 2em;
  width: 2em;
  background: #fff; }

html.vex-open {
  overflow-y: hidden!important; }







#section3 h2 {
    line-height: 20px;
    padding-bottom: 20px;
}

#section3 h5 {
    line-height: 26px
}
.success-form,
.success-form-1,
.success-form-2,
.success-form-3{
  position: absolute;  
    z-index: 99999;
    background-color: #000707;
    width: 100%;
    height: 100%;
    padding: 50px 40px;
    left: 0;
    top: 0;
    -webkit-transform: scale(0);
    transform: scale(0);

}
.success-form.active,
.success-form-1.active,
.success-form-2.active,
.success-form-3.active{
    -webkit-animation: scaleBounce .4s ease-in-out;
    animation: scaleBounce .4s ease-in-out;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.success-content{
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    position: relative;
    top: 50%;
    left: 50%;
}

.sc7-stars{
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    top: 53%;
    left: 52%;
    -webkit-animation: glow 5s infinite;
    animation: glow 5s infinite;

}







@-webkit-keyframes scaleBounce  {
  0% {
      -webkit-transform: scale(0);
      transform: scale(0)
  }
    40% {

    -webkit-transform: scale(1.2);

    transform: scale(1.2)
  }

        70% {

    -webkit-transform: scale(1);

    transform: scale(1)
  }
    
            80% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
  }
    
    100% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}







@keyframes scaleBounce  {
  0% {
      -webkit-transform: scale(0);
      transform: scale(0)
  }
    40% {

    -webkit-transform: scale(1.2);

    transform: scale(1.2)
  }

        70% {

    -webkit-transform: scale(1);

    transform: scale(1)
  }
    
            80% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
  }
    
    100% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}


